/*seletor{propriedade:valor;}*/

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:ital,wght@0,100;0,300;0,700;1,300&display=swap');

*{margin:0; padding:0;}

body{
	background-color: antiquewhite;
}

header, img{
	width: 100%;
	height: 380px;
    color: #003a70;
}

nav{
	background-color: #003a70;
	text-align: center;
	padding: 10px;
}


a{
	font:1.2rem 'Roboto', sans-serif;
	text-decoration: none;
}

.a-menu{
	margin-right: 40px;
	font-weight: bold;
}

.a-menu:link, .a-menu:visited{
	color:#becdd6;
}

.a-menu:hover, .a-menu:active{
	color: #becdd6;
}

article{
	width: 100%;
	background-color: #FFF;
	padding: 20px;
	box-sizing: border-box;
}


h1{
	font: 3rem 'Kaushan Script', cursive;
	color:#c8b79d;
	text-align: center;
	margin-bottom: 30px;
}

p{
	font: 1.2rem 'Roboto', sans-serif;
	color: #101820;
	text-align: left;
	line-height: 30px;
}

#txt-preto{
	color: #000;
}

section{
	padding: 20px;	
}

h2{
	font: 3rem 'Kaushan Script', cursive;
	color: 	#c8b79d;
	margin-bottom: 20px;
}

#pag-beneficios{
	background-color:#fffaf7;
}

#pag-beneficios h2{
	color: 	#c8b79d;

}

#pag-beneficios p{
	color: #101820;
	margin-top: 30px;
}

ul{
	list-style-type: circle;
	padding: 20px  50px;
}

li{
	font: 1.2rem 'Roboto', sans-serif;
	color: #101820;
	margin-bottom: 10px;
}












#pag-Características{
	background-color: #EEE;
}

#container{
	display:flex;
	margin-top: 2px;
	margin-bottom: 1px;
     gap: 16px;

     display: inline-flex;
}
img{
    border-radius: 7px;
   width: 100%;
  
}
.card{
	background-color: #FFF;
	margin:10px;
	width: 25%;
	border-radius: 7px;
	box-shadow: 0 5px 8px #101820;
	transition: 0.1s;
    display: flex;
}

.card:hover{
	box-shadow: 8px 8px 16px #CCC;
}

.card-content{
	padding: 10px;
    

}

.card-content p{
	font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
	line-height: 15px;
    text-align: center;
    color: #000;
}



 h3{
 	font:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color:#003a70;
	text-align: center;
	margin-bottom: 10px;
 }

 #pag-Nossoestudio{
    background-color: #fffaf7;

 }

 #pag-estudio p{
 	text-align: center;
 	margin-bottom: 10px;
 }

 #container-estudio{
 	display: flex;
 }

 .coluna-estudio{
 	padding: 40px;
 }

 .container-imagens{
 	margin-top: 40px;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .container-imagens p{
 	color: #000;
 }

 .img-icones{
 	width: 30px;
 	height: 20px;
 	padding: 10px;
 }

video{
	width: 600px;
 	height: 500px;
 	padding: 10px;
}

footer{
	background-color: #000;
	padding: 20px;
   
}

footer p{
	text-align: center;
	color: #FFF;
}

footer a{
	color: #FFF;
}

footer a:hover{
	color: #ffffff;
}




#pag-agendamentos{

    background-color: #ffffff;

}

#pag-agendamentos p{
	text-align: center;
	margin-bottom: 20px;
}

form{
	width: 400px;
	margin: 0 auto;
    
}

input, select, textarea{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	padding-left: 5px;
	box-sizing: border-box;
	border: 1px solid #003a70;
	color: #000;
}

label, fieldset, input, select, textarea{
	font: 1.2rem 'Roboto', sans-serif;
}

fieldset{

	border: 1px solid #000;
	margin-bottom: 10px;
	padding:0px;
   
}

#data-hora-num{

    margin-bottom: 10px;
	padding:10px;
}

input[type="radio"], input[type="checkbox"]{
	width: 14px;
	height: 30px;
	margin-left: 55px;
    box-sizing: border-box;
}

textarea{
	height: 80px;
}

#botoes-form{
	display: flex;
}

input[type="submit"], input[type="reset"]{
	margin: 20px;
	background-color: #8BC34A;
	color: #FFF;
	border: 0;
	border-radius: 5px;
}

input[type="reset"]{
	background-color: #F47E7E;
}


